<%

	seo.title = "About Us";
	const profiles = db.elements.findElements(_ => db.templates.templateNameFromId(_.template).toLowerCase() === "profile");

	const directors = profiles.filter(_ => _.fields.role === "director");
	const execs = profiles.filter(_ => _.fields.role === "exec").sort((a, b) => a.fields.title.localeCompare(b.fields.title));
	const leads = profiles.filter(_ => _.fields.role === "lead").sort((a, b) => a.fields.title.localeCompare(b.fields.title));
	const staff = profiles.filter(_ => !_.fields.role).sort((a, b) => a.fields.title.localeCompare(b.fields.title));
	const contributors = profiles.filter(_ => _.fields.role === "contributor").sort((a, b) => a.fields.title.localeCompare(b.fields.title));

%>

<!DOCTYPE html>
<html lang="en">
<head>

	<% include include/seo/standard.ejs %>
	<% include include/head.ejs %>

</head>
<body>

	<% include include/menu.ejs %>

	<div class="app">

		<div class="section">

			<h1>About</h1>

			<%- (await db.elements.findElement(_ => _.fields.title.toLowerCase() === "about")).fields.content %>

			<h2>Director</h2>

			<div class="authors_cards" style="margin-top: 20px;">

				<% for (const profile of directors) { %>

					<div>
						
						<img src="<%- profile.fields.image ? file(profile.fields.image) : default_image %>">

						<div>

							<span class="name"><%- profile.fields.title %></span>

							<p><%- profile.fields.description || "<i>No description available at this time</i>" %></p>

						</div>

					</div>

				<% } %>

			</div>

			<h2>Execs</h2>

			<div class="authors_cards" style="margin-top: 20px;">

				<% for (const profile of execs) { %>

					<div>
						
						<img src="<%- profile.fields.image ? file(profile.fields.image) : default_image %>">

						<div>

							<span class="name"><%- profile.fields.title %></span>

							<p><%- profile.fields.description || "<i>No description available at this time</i>" %></p>

						</div>

					</div>

				<% } %>

			</div>

			<h2>Leads</h2>

			<div class="authors_cards" style="margin-top: 20px;">

				<% for (const profile of leads) { %>

					<div>
						
						<img src="<%- profile.fields.image ? file(profile.fields.image) : default_image %>">

						<div>

							<span class="name"><%- profile.fields.title %></span>

							<p><%- profile.fields.description || "<i>No description available at this time</i>" %></p>

						</div>

					</div>

				<% } %>

			</div>

			<h2>Staff</h2>

			<div class="authors_cards" style="margin-top: 20px;">

				<% for (const profile of staff) { %>

					<div>
						
						<img src="<%- profile.fields.image ? file(profile.fields.image) : default_image %>">

						<div>

							<span class="name"><%- profile.fields.title %></span>

							<p><%- profile.fields.description || "<i>No description available at this time</i>" %></p>

						</div>

					</div>

				<% } %>

			</div>

			<h2>Contributors</h2>

			<div class="authors_cards" style="margin-top: 20px;">

				<% for (const profile of staff) { %>

					<div>
						
						<img src="<%- profile.fields.image ? file(profile.fields.image) : default_image %>">

						<div>

							<span class="name"><%- profile.fields.title %></span>

							<p><%- profile.fields.description || "<i>No description available at this time</i>" %></p>

						</div>

					</div>

				<% } %>

			</div>

		</div>

	</div>

	<%- include include/footer.ejs %>

</body>
</html>
