<%

	seo.title = "Christmas";
	seo.description = removeHTMLTags((await db.elements.findElement(_ => _.fields.title && _.fields.title.toLowerCase() === "christmas")).fields.content).trim();

	let albums = ["https://hypermall.bandcamp.com/releases", "https://www.youtube.com/watch?v=lJAKDXD9MY0", "https://dmtrec.bandcamp.com/album/christmas-at-crystal-valley-mall", "https://www.youtube.com/watch?v=6okj7EtxWPo", "https://girlygirlmusik.bandcamp.com/album/christmas-at-azure-atoll", "https://pomu.bandcamp.com/album/non-denominational-holiday-special-new-years-edition", "https://winter-sleep.bandcamp.com/album/dreams", "https://www.youtube.com/watch?v=r6TJPVtxf40", "https://winter-sleep.bandcamp.com/album/return-to-dream-city", "https://devasohouse.bandcamp.com/album/vaporwave-christmas-by-devaso", "https://www.youtube.com/watch?v=fwLfN4ppggA", "https://sadchasey.bandcamp.com/album/home-for-the-holidays", "https://nostalgicdepression.bandcamp.com/album/that-sentimental-feeling", "https://alternateskies.bandcamp.com/album/winter-storm-update", "https://fantasy-deluxe.bandcamp.com/album/fantasy-deluxe-christmas-eve-holiday-special", "https://ghoststogether.bandcamp.com/album/go-easy-on-the-pepsi", "https://truckspassingtrucks.bandcamp.com/album/x-m-a-s-2-17-vol-8", "https://n-6-4.bandcamp.com/album/ill-be-home-for-christmas", "https://n-6-4.bandcamp.com/album/a-synthetic-christmas-vol-i", "https://n-6-4.bandcamp.com/album/a-synthetic-christmas-vol-ii", "https://n-6-4.bandcamp.com/album/a-synthetic-christmas-vol-iii", "https://n-6-4.bandcamp.com/album/c-hristmas-at-the-plaza", "https://n-6-4.bandcamp.com/album/banjo-kazooie-winter-vibes", "https://powerlunch.bandcamp.com/album/s-e-c-r-e-t-s-a-n-t-a", "https://u-hallcorporatesales.bandcamp.com/album/company-party-ideas", "https://elemental95.bandcamp.com/album/perennial-vice", "https://lofttapes.bandcamp.com/album/gift2-ep", "https://purpledialect.bandcamp.com/album/9-wreaths", "https://wavdashsupr3m3.bandcamp.com/album/xmas-special", "https://klsc.bandcamp.com/album/a-very-vapor-christmas", "https://nanoshrine.bandcamp.com/album/no-l", "https://www.youtube.com/watch?v=I87qO2_HpyY", "https://dogmacorp.bandcamp.com/album/happy-holidays-to-you-from-dogma", "https://maitro.bandcamp.com/album/holiday-season", "https://citymanproductions.bandcamp.com/album/--2", "https://polykarp.bandcamp.com/album/merry-vapormas-christmas-vaporwave", "https://sunsetgrid.bandcamp.com/album/ho-ho-hos", "https://vacationbibleschool.bandcamp.com/album/christmastime-at-north-hills-mall", "https://vacationbibleschool.bandcamp.com/album/the-beautiful-pain-of-the-holiday-season", "https://virtualsoundsystem.bandcamp.com/album/christmas-pizza-night", "https://pillow187.bandcamp.com/album/pillowsnake-presents-chopped-and-scrooged-volume-1", "https://binaural-space.bandcamp.com/album/lofi-ambient-xmas", "https://businessaudio.bandcamp.com/releases", "https://flamingovapor.bandcamp.com/album/--8", "https://okoilcompany.bandcamp.com/album/santas-workshop", "https://strawberry3000.bandcamp.com/album/merry-xmas-from-strawberry-3000-ep", "https://soundcloud.com/magorium/sets/xmas-is-dead-long-live-xmas", "https://zadigthejasp.bandcamp.com/track/timeless", "https://www.youtube.com/watch?v=EfscwvbfbxA&t=0s", "https://soundcloud.com/pogemans/lets", "https://open.spotify.com/album/5wuW81a5DK4cEGjF11QRUv?si=Ei0qsrc7S92vY-WdqWJiww", "https://alphachromeyayo.bandcamp.com/album/kimonos-at-christmas", "https://soundcloud.com/alembik-2/a-very-vaporwave-christmas", "https://www.youtube.com/watch?v=XdRq26VXDt4&t=0s", "https://www.youtube.com/watch?v=6DqkEKMoCFM&t=4s", "https://firstclasscollective.bandcamp.com/album/christmas-present", "https://www.youtube.com/watch?v=xza9k2G4Me0", "https://futurefunkmonthly.bandcamp.com/album/future-funk-monthly-mix-december-2018", "https://futurefunkmonthly.bandcamp.com/album/future-funk-monthly-mix-december-2017", "https://futurefunkmonthly.bandcamp.com/album/future-funk-monthly-mix-december-2016", "https://soundcloud.com/cruiserx/christmas-future-funk-mix", "https://www.youtube.com/watch?v=XcZqVzzEEEY", "https://nighttempo.bandcamp.com/track/december-24-2", "https://desired.bandcamp.com/track/special-christmas", "https://soundcloud.com/jessecassettes/jesse-cassettes-padoru-padoru-jingle-bells", "https://pacificplaza.bandcamp.com/album/o-come-all-ye-vapeful", "https://halcyontapes.bandcamp.com/album/the-beautiful-world", "https://fotoshoppe.bandcamp.com/album/christmas-special", "https://futurefunkmonthly.bandcamp.com/track/future-funk-monthly-mix-december-2019", "https://alternateskies.bandcamp.com/album/christmas-forecast"];
	const bandcampMap = {"https://hypermall.bandcamp.com/releases":"https://bandcamp.com/EmbeddedPlayer/album=3069206781/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://dmtrec.bandcamp.com/album/christmas-at-crystal-valley-mall":"https://bandcamp.com/EmbeddedPlayer/album=2041146291/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://girlygirlmusik.bandcamp.com/album/christmas-at-azure-atoll":"https://bandcamp.com/EmbeddedPlayer/album=1052134143/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://pomu.bandcamp.com/album/non-denominational-holiday-special-new-years-edition":"https://bandcamp.com/EmbeddedPlayer/album=1992736954/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://winter-sleep.bandcamp.com/album/dreams":"https://bandcamp.com/EmbeddedPlayer/album=1735692732/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://winter-sleep.bandcamp.com/album/return-to-dream-city":"https://bandcamp.com/EmbeddedPlayer/album=922554340/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://devasohouse.bandcamp.com/album/vaporwave-christmas-by-devaso":"https://bandcamp.com/EmbeddedPlayer/album=3448459026/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://sadchasey.bandcamp.com/album/home-for-the-holidays":"https://bandcamp.com/EmbeddedPlayer/album=3382083534/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://nostalgicdepression.bandcamp.com/album/that-sentimental-feeling":"https://bandcamp.com/EmbeddedPlayer/album=2400195861/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://alternateskies.bandcamp.com/album/winter-storm-update":"https://bandcamp.com/EmbeddedPlayer/album=3879777731/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://fantasy-deluxe.bandcamp.com/album/fantasy-deluxe-christmas-eve-holiday-special":"https://bandcamp.com/EmbeddedPlayer/album=3500596151/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://ghoststogether.bandcamp.com/album/go-easy-on-the-pepsi":"https://bandcamp.com/EmbeddedPlayer/album=1633945484/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://truckspassingtrucks.bandcamp.com/album/x-m-a-s-2-17-vol-8":"https://bandcamp.com/EmbeddedPlayer/album=2243343644/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://n-6-4.bandcamp.com/album/ill-be-home-for-christmas":"https://bandcamp.com/EmbeddedPlayer/album=1067230892/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://n-6-4.bandcamp.com/album/a-synthetic-christmas-vol-i":"https://bandcamp.com/EmbeddedPlayer/album=3988774808/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://n-6-4.bandcamp.com/album/a-synthetic-christmas-vol-ii":"https://bandcamp.com/EmbeddedPlayer/album=4194711226/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://n-6-4.bandcamp.com/album/a-synthetic-christmas-vol-iii":"https://bandcamp.com/EmbeddedPlayer/album=1501731544/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://n-6-4.bandcamp.com/album/c-hristmas-at-the-plaza":"https://bandcamp.com/EmbeddedPlayer/album=3313857715/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://n-6-4.bandcamp.com/album/banjo-kazooie-winter-vibes":"https://bandcamp.com/EmbeddedPlayer/album=427932230/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://powerlunch.bandcamp.com/album/s-e-c-r-e-t-s-a-n-t-a":"https://bandcamp.com/EmbeddedPlayer/album=1393901359/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://u-hallcorporatesales.bandcamp.com/album/company-party-ideas":"https://bandcamp.com/EmbeddedPlayer/album=4197393783/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://elemental95.bandcamp.com/album/perennial-vice":"https://bandcamp.com/EmbeddedPlayer/album=596991156/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://lofttapes.bandcamp.com/album/gift2-ep":"https://bandcamp.com/EmbeddedPlayer/album=1865392952/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://purpledialect.bandcamp.com/album/9-wreaths":"https://bandcamp.com/EmbeddedPlayer/album=4157597613/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://wavdashsupr3m3.bandcamp.com/album/xmas-special":"https://bandcamp.com/EmbeddedPlayer/album=2593457021/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://klsc.bandcamp.com/album/a-very-vapor-christmas":"https://bandcamp.com/EmbeddedPlayer/album=2837586853/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://nanoshrine.bandcamp.com/album/no-l":"https://bandcamp.com/EmbeddedPlayer/album=256210514/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://dogmacorp.bandcamp.com/album/happy-holidays-to-you-from-dogma":"https://bandcamp.com/EmbeddedPlayer/album=3553291093/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://maitro.bandcamp.com/album/holiday-season":"https://bandcamp.com/EmbeddedPlayer/album=2923172064/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://citymanproductions.bandcamp.com/album/--2":"https://bandcamp.com/EmbeddedPlayer/album=2982326192/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://polykarp.bandcamp.com/album/merry-vapormas-christmas-vaporwave":"https://bandcamp.com/EmbeddedPlayer/album=595466792/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://sunsetgrid.bandcamp.com/album/ho-ho-hos":"https://bandcamp.com/EmbeddedPlayer/album=3191203957/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://vacationbibleschool.bandcamp.com/album/christmastime-at-north-hills-mall":"https://bandcamp.com/EmbeddedPlayer/album=2539257938/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://vacationbibleschool.bandcamp.com/album/the-beautiful-pain-of-the-holiday-season":"https://bandcamp.com/EmbeddedPlayer/album=2878269789/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://virtualsoundsystem.bandcamp.com/album/christmas-pizza-night":"https://bandcamp.com/EmbeddedPlayer/album=1359866739/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://pillow187.bandcamp.com/album/pillowsnake-presents-chopped-and-scrooged-volume-1":"https://bandcamp.com/EmbeddedPlayer/album=858506680/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://binaural-space.bandcamp.com/album/lofi-ambient-xmas":"https://bandcamp.com/EmbeddedPlayer/album=1484260075/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://businessaudio.bandcamp.com/releases":"https://bandcamp.com/EmbeddedPlayer/album=992133954/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://flamingovapor.bandcamp.com/album/--8":"https://bandcamp.com/EmbeddedPlayer/album=1717983386/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://okoilcompany.bandcamp.com/album/santas-workshop":"https://bandcamp.com/EmbeddedPlayer/album=555931755/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://strawberry3000.bandcamp.com/album/merry-xmas-from-strawberry-3000-ep":"https://bandcamp.com/EmbeddedPlayer/album=4054753631/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://zadigthejasp.bandcamp.com/track/timeless":"https://bandcamp.com/EmbeddedPlayer/album=38464347/size=large/bgcol=ffffff/linkcol=0687f5/track=1514523138/transparent=true/tracklist=false","https://alphachromeyayo.bandcamp.com/album/kimonos-at-christmas":"https://bandcamp.com/EmbeddedPlayer/album=701258249/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://firstclasscollective.bandcamp.com/album/christmas-present":"https://bandcamp.com/EmbeddedPlayer/album=2473156891/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://futurefunkmonthly.bandcamp.com/album/future-funk-monthly-mix-december-2018":"https://bandcamp.com/EmbeddedPlayer/album=3341739500/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://futurefunkmonthly.bandcamp.com/album/future-funk-monthly-mix-december-2017":"https://bandcamp.com/EmbeddedPlayer/album=2472506080/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://futurefunkmonthly.bandcamp.com/album/future-funk-monthly-mix-december-2016":"https://bandcamp.com/EmbeddedPlayer/album=2037145697/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://nighttempo.bandcamp.com/track/december-24-2":"https://bandcamp.com/EmbeddedPlayer/album=3515746059/size=large/bgcol=ffffff/linkcol=0687f5/track=495937617/transparent=true/tracklist=false","https://desired.bandcamp.com/track/special-christmas":"https://bandcamp.com/EmbeddedPlayer/size=large/bgcol=ffffff/linkcol=0687f5/track=3591075732/transparent=true/tracklist=false", "https://pacificplaza.bandcamp.com/album/o-come-all-ye-vapeful":"https://bandcamp.com/EmbeddedPlayer/album=1070804902/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://halcyontapes.bandcamp.com/album/the-beautiful-world":"https://bandcamp.com/EmbeddedPlayer/album=4069953989/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://fotoshoppe.bandcamp.com/album/christmas-special":"https://bandcamp.com/EmbeddedPlayer/album=765767644/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false","https://futurefunkmonthly.bandcamp.com/track/future-funk-monthly-mix-december-2019":"https://bandcamp.com/EmbeddedPlayer/size=large/bgcol=ffffff/linkcol=0687f5/track=3703373667/transparent=true/tracklist=false","https://alternateskies.bandcamp.com/album/christmas-forecast":"https://bandcamp.com/EmbeddedPlayer/album=3626157554/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false"};

	function page () {

		if (!query.page) return 1;
		else if (!query.page.trim() || isNaN(query.page)) return -1;
		else return parseInt(query.page);

	}

	albums = albums.slice((page() - 1) * 10, (page()) * 10);

%>

<!DOCTYPE html>
<html lang="en">
<head>

	<% include include/seo/standard.ejs %>
	<% include include/head.ejs %>

</head>
<body>

	<% include include/menu.ejs %>

	<% if (page() > 0 && page() <= 7) { %>

	<div class="app">

		<div class="section">

			<h1>Christmas Selection</h1>

			<%- (await db.elements.findElement(_ => _.fields.title && _.fields.title.toLowerCase() === "christmas")).fields.content %>

			<p>You can navigate this Christmas Selection using the buttons above and below the albums and tracks, or by using the left and right arrow keys.</p>

			<% if (page() > 1) { %>

				<a href="?page=<%- page() - 1 %>" class="btn">Previous Page</a>

			<% } %>

			<% if (page() < 7) { %>

				<a href="?page=<%- page() + 1 %>" class="btn">Next Page</a>

			<% } %>

			<div class="christmas">

				<% for (const album of albums) { %>

					<% if (album.indexOf("bandcamp") !== -1) { %>
					
						<iframe style="border: 0; width: 560px; height: 315px;" src="<%- bandcampMap[album] %>" seamless></iframe>
	
					<% } else if (album.indexOf("soundcloud") !== -1) { %>
	
						<iframe width="560" height="315" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=<%- album %>&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
	
					<% } else if (album.indexOf("youtube") !== -1) { %>
	
						<iframe width="560" height="315" src="<%- album.replace("watch?v=", "embed/") %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	
					<% } %>
	
				<% } %>

			</div>

			<br><br>

			<% if (page() > 1) { %>

				<a href="?page=<%- page() - 1 %>" class="btn">Previous Page</a>

			<% } %>

			<% if (page() < 7) { %>

				<a href="?page=<%- page() + 1 %>" class="btn">Next Page</a>

			<% } %>

		</div>

	</div>

	<script>
	
		document.addEventListener("keydown", event => {

			<% if (page() > 1) { %>

				if (event.key === "ArrowLeft") location.replace("?page=<%- page() - 1 %>");

			<% } %>

			<% if (page() < 7) { %>

				if (event.key === "ArrowRight") location.replace("?page=<%- page() + 1 %>");

			<% } %>

		});

	</script>

	<% } else { %>

	<div class="app">

		<div class="section">

			<h1>Trying to break our website?</h1>

			<p>We love open-source code and whitehat hacking - so go ahead and <a href="https://github.com/privatesuite/privy3">check out our website code</a> ! If you find a bug or security issue, feel free to message <code>aurame</code> on <a href="https://discord.gg/htDxdMb">our Discord</a>. And of course, if you want to join our IT team, feel free to drop us a line in the <code>#sign-up</code> channel on <a href="https://discord.gg/htDxdMb">our Discord</a>.</p>

		</div>
		
	</div>

	<% } %>

	<% include include/footer.ejs %>

</body>
</html>
