<%- await render("include/menu.ejs") %>

<div class="app">

	<div class="section">

		<h1>Discover</h1>

		<% if (!Spade) { %>

		<h1>Spade only works when you're connected to the internet!</h1>
		<h2>Sorry about that</h2>

		<% } else { %>

		<p>Discover is a powerful tool that uses Bandcamp's API to search for new releases. Discover is powered by an awesome library called Spade - developed by our very own aurame. Once Spade finds new releases, it'll display them here in an orderly fashion. The album title is displayed below the artwork. In gray text below this is the artist name, followed by the city, date, and time of upload. If you find an album that you really like, feel free to let us know on discord - maybe you can write a rapidfire review that will be featured in the next issue of the magazine or here on the site! Below you'll find the 100 most recent albums that are tagged "vaporwave." Enjoy!</p>

		<div class="discover_albums">

			<% for (const album of (await Spade.getRecentAlbums(100)).sort((a, b) => b.release_date - a.release_date)) { %>

				<a href="<%- album.url %>" class="panel">

					<img src="<%- album.album_cover(16) %>" alt="">
					<h2><%- album.title %></h2>
					<h3><%- album.artist %><%- album.location !== 'Unknown' ? ` &bull; ${album.location}` : '' %></h3>
					<h3><%- album.release_date.toLocaleString() %></h3>

				</a>
	
			<% } %>

		</div>

		<% } %>

	</div>

</div>

<%- await render("include/footer.ejs") %>
