<%
	seo.title = "events";
  const events = (await db.elements.findElements(_ => _.fields.type && _.fields.type.toLowerCase() === "event-dont_edit_me"))
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include include/seo/standard.ejs %>
    <% include include/head.ejs %>
  </head>
  <body>
    <%- include include/menu.ejs %>
    <div class="app">
      <div class="section">
        <h1>Vaporwave Livestreaming Events!</h1>
        <p>A one-stop-stop for scheduled vaporwave event listings and VODs for past vaporwave livestreams!</p>
      </div>
      <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">

        <% for ( const event of events ) { %>

          <div style="flex-basis: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <h1><%- event.fields.title %></h1>
            <h2><%- event.fields.date %></h2>
            <a href="<%- event.fields.site %>">
              <h3><%- event.fields.site %></h3>
            </a>
            <p><%- event.fields.description %></p>
            <img src="/api/file/<%- event.fields.image %>" style="width: 50%; max-width: 550px;"/>
            <% if ( event.fields.vod ) { %>
              <iframe src="<%- event.fields.vod %>" height="300" parent="https://privatesuitemag.com/" allowfullscreen="true"></iframe>
            <% } %>
          </div>

        <% } %>

      </div>
    </div>
    <% include include/footer.ejs %>
  </body>
</html>
