<%

	const episode = podcast.episodes().find(_ => ("" + _.episodeNumber) === params.episode);

	seo.title = `Ep. ${episode.episodeNumber} - ${episode.title}`;
	seo.image = episode.cover ? `https:${episode.cover.url}` : "https://assets.pippa.io/shows/5d9c8ccb34dfd91e4010ff4f/1571005170261-23211066444275543f08416dce14831b.jpeg";
	seo.description = trim(removeHTMLTags(episode.summary), 256);

%>

<!DOCTYPE html>
<html lang="en">
<head>

	<% include include/seo/standard.ejs %>
	<% include include/head.ejs %>

</head>
<body>

	<% include include/menu.ejs %>

	<div class="app">

		<div class="section">

			<h1><%- episode.episodeNumber %>. <%- episode.title %></h1>

			<div class="split" style="margin-top: 40px;">

				<div>

					<img src="<%- episode.cover ? episode.cover.url : 'https://assets.pippa.io/shows/5d9c8ccb34dfd91e4010ff4f/1571005170261-23211066444275543f08416dce14831b.jpeg' %>" alt="" class="podcast_cover">

				</div>

				<div>

					<audio class="podcast_player" src="<%- episode.audio.url %>" controls></audio>

					<br><br>

					<div>

						<a href="<%- episode.cover ? episode.cover.url : 'https://assets.pippa.io/shows/5d9c8ccb34dfd91e4010ff4f/1571005170261-23211066444275543f08416dce14831b.jpeg' %>" class="btn" target="_blank" download><i data-feather="image"></i> <span>Download Thumbnail</span></a>
						<a href="<%- episode.audio.url %>" class="btn" target="_blank" download><i data-feather="headphones"></i> <span>Download Audio</span></a>

					</div>

					<div class="podcast_description">
						
						<%- episode.summary %>

					</div>

				</div>
			
			</div>

		</div>

	</div>

	<% include include/footer.ejs %>

</body>
</html>
